<?xml version="1.0" encoding="utf-8"?>
<!-- These are the packages that I used on windows to compile and run this software. -->
<packages>
  <package id="git" version="2.30.1" />
  <package id="git.install" version="2.30.1" />
  <package id="nodejs" version="15.10.0" />
  <package id="nodejs.install" version="15.10.0" />
  <package id="vscode" version="1.53.2" />
  <package id="vscode.install" version="1.53.2" />
  <package id="yarn" version="1.22.5" />
</packages>
